<div fxLayout="row wrap" fxLayoutGap="32px" class="not-found-container">
  <div fxFlex>
    <mat-card class="outside">
      <mat-card-content fxFlex fxLayout="column" fxLayoutAlign="center">
        <h1>
          4
        </h1>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex>
    <mat-card class="middle">
      <mat-card-content fxFlex fxLayout="column" fxLayoutAlign="center">
        <h1>
          0
        </h1>
      </mat-card-content>
    </mat-card>

  </div>

  <div fxFlex>
    <mat-card class="outside">
      <mat-card-content fxFlex fxLayout="column" fxLayoutAlign="center">
        <h1>4</h1>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row" class="not-found-explanation">
  <div fxFlex>
    <p>You have completed an amazing task! You navigated to a page that doesn't exist yet!</p>
    <p>Let's get you back on track.</p>
    <p>1. Click the home button.</p>
  </div>
  <button fxFlex mat-raised-button color="accent" routerLink="/">
   Home
  </button>
</div>

