<div fxLayout="row wrap" fxLayoutGap="32px" class="about-container">
  <div fxFlex>
    <mat-card class="outside">
      <mat-card-title>The team</mat-card-title>
      <mat-card-content>
        <p>
          The nodebucket team is obsessed with keeping you on track and at your peak of productivity. We pride ourselves on
          creating an easy to use system that's free of distractions. You shouldn't need to sort through a complicated series
          of menus to add, update, or remove a task. After a lot of research, our team discovered the easiest way to make sure
          you keep track of your tasks is a simple drag and drop interface. Less clutter, less effort, more time to complete
          your tasks!
        </p>
      </mat-card-content>
      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex>
    <mat-card class="middle">
      <mat-card-title>The application</mat-card-title>
      <mat-card-content>
        <p>We've been working with the MEAN stack for awhile now, and this application is a great way to demonstrate those skills!
          You'd be surprised by the amount of behind the scenes work required to create what looks like a fairly simple
          application. After all, there's only a few boxes and buttons, right?
        </p>
        <p>This application alone has eight components, an interface, a guard, and a service.</p>
        <p>All of that is going on behind the scenes, though. All you have to worry about is your tasks - add them, move
          them, and delete them when you feel like it.
        </p>
        <p>These pieces work together to create a seamless, easy to use experience.</p>
      </mat-card-content>
    </mat-card>

  </div>

  <div fxFlex>
    <mat-card class="outside">
      <mat-card-title>The development stack</mat-card-title>
      <mat-card-content>
        <p>The MEAN stack uses MongoDB, Express, Angular, and Node as the foundation to build web applications. It's very
          adaptable, and all of the components are open source. The stack also requires knowledge of HTML5, CSS3, and
          JavaScript.
        </p>
        <p>
          One reason the nodebucket team chose the MEAN stack is the non-relational database. This allows us to create our
          data structures in a way that best fits the application's needs.
        </p>
        <p>Angular is a great tool for creating single page applications. Believe it or not, this application is only
          re-rendering some parts of the page, rather than having a lot of HTML for every possible scenario. 
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
