<div fxLayout="column" >

    <!-- navigation -->
    <nav fxFlex>
      <mat-toolbar color="primary" fxLayout="row wrap" fxLayoutAlign="space-evenly">
        <!-- navbar container -->
        <div class="navbar-container">
          <!-- logo -->
          <button fxFlex class="logo" routerLink="/" mat-button>n<span class="material-icons" color="accent">add_task</span>debucket</button>

          <button fxFlex class="navbar-link" routerLink="/" mat-button><span class="material-icons">home</span> Home</button>
          <button fxFlex class="navbar-link" routerLink="/about" mat-button><span class="material-icons">contact_page</span> About</button>
          <button fxFlex class="navbar-link" mat-button (click)="signOut()"><span class="material-icons">exit_to_app</span> Sign Out</button>

        </div>

      </mat-toolbar>
    </nav>

    <!-- main content -->
    <div fxFlex>
      <main class="main-content" fxFlex="100%;">
        <router-outlet></router-outlet>
      </main>
    </div>

    <!-- footer -->
    <div fxFlex>
      <footer class="footer">
        <mat-toolbar class="footer-content">
          <p>
            &copy; {{year | date: 'yyyy'}} - nodebucket - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
          </p>
        </mat-toolbar>
      </footer>
    </div>

  </div>
